[submodule "MedVision-FrontEnd"]
	path = MedVision-FrontEnd
	url = https://github.com/Nibalab/MedVision-FrontEnd.git
[submodule "MedVision-BackEnd"]
	path = MedVision-BackEnd
	url = https://github.com/Nibalab/MedVision-BackEnd.git
[submodule "MedVison--Socket"]
	path = MedVison--Socket
	url = https://github.com/Nibalab/MedVision--Socket.git
[submodule "MedVision-ML"]
	path = MedVision-ML
	url = https://github.com/Nibalab/MedVision-ML.git
